// ----------------------------------------------------------------------------
// Footer
// ----------------------------------------------------------------------------

.footer {
  background-color: $primary-dark;
  color: $white;
  font-weight: $extra-bold-weight;

  p {
    color: lighten($base-font-color, 40%);
    text-align: center;
    border-bottom: 1px solid $primary-light;
    padding: space(3) 0;
  }

  p, ul {
    margin-bottom: 0;
  }
}

.footer-social {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: space(2) 0;

  li {
    font-size: 2em;
    float: left;
    margin: 0;

    &:not(:first-child) {
      margin: 0 0 0 0.5em;
    }
  }

  a {
    color: $white;
    transition: all $base-time $base-ease;

    &:hover,
    &:focus {
      color: $gold; 
    }
  }
}