.card{
  position: relative;
  display: block;
  background: $bg-light;
  min-width: 270px;
  max-width: 420px;
  height: 100%;
  transition: all 0.3s linear 0s;
  overflow: auto;
  border-radius: 20px;
  margin: 0 auto;
  
  h2 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .card-context {
    position: relative;
    border-bottom: $unit solid $primary-light;
    background: rgba($primary-light, 0.1);
  }

  .card-image-outer-wrapper {
    overflow: hidden;
  }

  .card-image {
    transition: all 0.3s linear 0s;
  }

  .card-context--feedback {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;

    .svg-inline--fa {
      display: block;
      color: $primary-light;
    }
  }

  &:hover {
    background: $card-bg-hover;

    .card-context {
      background: $gold;
    }

    .card-image-outer-wrapper {
      opacity: .3;
    }

    .card-image {
      transform: scale(1.1);
    }

    .card-context--feedback {
      opacity: 1;
    }
  }

  .card-lens {
    margin: space(3);
    margin-bottom: space(4);
    color: $primary-light;
    overflow: auto;

    p {
      color: $base-font-color;
    }

    .svg-inline--fa {
      color: $primary-light;
      position: absolute;
      bottom: space(2);
      right: space(3);
      line-height: 0.8rem;
    }
  }

  .pill {
    position: absolute;
    bottom: space(2);
    left: space(3);
    margin: 0;
    background: $primary-light;
    border-radius: 1em;
    padding: 0.1em 1em;
    color: $white;
    font-weight: $extra-bold-weight;
  }

  .c1 {
    background: $c1;
  }

  .c2 {
    background: $c2;
  }

  .c3 {
    background: $c3;
  }

  .c4 {
    background: $c4;
  }

  .c5 {
    background: $c5;
  }
}
