/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 1.2em !important;
  width: 1.2em !important;
}

.bm-menu-wrap {
  position: absolute;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: $primary-dark;
  padding: 2.5em 1.5em;
  font-size: 1.15em;

  svg {
    width: 1.2em !important;
    text-align: center;
  }
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

.bm-overlay {
  background: none !important;
}

.share-link,
.bm-cross-button {
  &:active,
  &:hover {
    color: $gold !important;
  }
}